.video {
	display: flex;
	gap: 1rem;
	background: rgb(245, 245, 245);
	border-radius: 0.5rem;
	padding: 0.3rem 1rem;
	margin: 10px 0;
	cursor: pointer;
	&:nth-child(1) {
		margin-top: 0;
	}
	&__thumbnail {
		display: flex;
		align-items: center;
		justify-content: center;
		flex: 0.4;
		img {
			border-radius: 0.3rem;
			width: 100%;
			object-fit: contain;
		}
	}
	&__metaData {
		flex: 0.6;
		h3 {
			line-height: 1.4;
			font-size: 0.9rem;
			text-transform: capitalize;
		}
		span {
			font-size: 0.7rem;
		}
	}
}
