.player {
	flex: 0.65;
	&__video {
		position: relative;
		padding-bottom: 56.25%; /* 16:9 */
		padding-top: 25px;
		height: 0;
		overflow: hidden;
		iframe {
			width: 100%;
			position: absolute;
			top: 0;
			left: 0;
			z-index: 1;
			height: 100%;
		}
	}
	&__data {
		h4 {
			font-size: 1.6rem;
			line-height: 1;
		}
		p {
			font-size: 0.8rem;
		}
	}
}
